<div class="container">
  <p-card>
    <p-toolbar class="mb-4">
      <ng-template pTemplate="left">
        <h2>Novo Produto</h2>
      </ng-template>
      <ng-template pTemplate="right">
        <div class="p-toolbar-group-right">
          <button pButton icon="pi pi-arrow-left" label="Voltar" class="p-button-secondary mr-2" (click)="cancel()"></button>
        </div>
      </ng-template>
    </p-toolbar>

    <div class="card-content">
      <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
        <div class="field">
          <label for="productName">Nome do Produto</label>
          <input id="productName" type="text" pInputText formControlName="name" class="w-full">
          <small class="p-error" *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched">
            Nome é obrigatório
          </small>
        </div>

        <div class="field">
          <label for="productType">Tipo</label>
          <div class="fixed-field">Físico</div>
          <small class="field-info">Este valor não pode ser alterado</small>
        </div>

        <div class="field">
          <label for="productSku">SKU</label>
          <input id="productSku" type="text" pInputText formControlName="sku" class="w-full">
          <small class="p-error" *ngIf="productForm.get('sku')?.invalid && productForm.get('sku')?.touched">
            SKU é obrigatório
          </small>
        </div>

        <div class="field">
          <label for="categoryId">Categoria</label>
          <p-dropdown id="categoryId" [options]="categories" formControlName="category_id" optionLabel="description" optionValue="id" 
                      class="w-full" placeholder="Selecione uma categoria" [showClear]="true" [loading]="categoriesLoading"
                      [filter]="true" filterBy="description">
            <ng-template pTemplate="selectedItem" let-category>
              <div *ngIf="category">{{category.description}}</div>
            </ng-template>
            <ng-template pTemplate="item" let-category>
              <div>{{category.description}}</div>
            </ng-template>
          </p-dropdown>
          <small class="p-error" *ngIf="productForm.get('category_id')?.invalid && productForm.get('category_id')?.touched">
            Categoria é obrigatória
          </small>
        </div>

        <div class="form-actions">
          <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="cancel()"></button>
          <button pButton type="submit" label="Salvar" icon="pi pi-check" class="custom-button" [loading]="loading"></button>
        </div>
      </form>
    </div>
  </p-card>
  
  <p-toast></p-toast>
</div>
